[submodule "using_teledyne/pybirger"]
	path = using_teledyne/pybirger
	url = https://mohitsharma44@github.com/Mohitsharma44/pybirger

[submodule "using_teledyne/pyflirpt"]
	path = using_teledyne/pyflirpt
	url = https://mohitsharma44@github.com/Mohitsharma44/pyflirpt
